.content{
    clear: both;
    
    padding: 0 5vw;
    margin: 0 10vw;
    
    background-color: #222831;
}

.content__topic{
    text-align: center;
    font-size: 3vmin;
    color: #00adb5;
}

.content__text{
    font-size: 3vmin;
    text-align: center;
    color: #eeeeee;
}

.content__github-logo{
    height: 3vmin;

    background: url(/Pictures/me.png);
}

.content__button{
    border: 0;

    background: transparent;
    cursor: pointer;
}

.content__topic:first-child{
    margin-top: 0;
}

.content__text:last-child{
    margin-bottom: 0;
}

@media (max-aspect-ratio: 1/1) {
    .content{
        margin: 0;
    }
}