.content{
    clear: both;
    
    padding: 0 5vw;
    margin: 0 10vw;
    
    background-color: #222831;
}

.content__underline{
    
    font-size: 3vmin;
    color: #eeeeee;
}

.content__list{
    
    font-size: 3vmin;
    color: #eeeeee;
}

.content__list:last-child{
    margin-bottom: 0;
}