body{
    background-color: #393e46;
}

.content{
    clear: both;
    
    padding: 5vh 5vw;
    margin: 10vh 10vw;
    
    background-color: #222831;
}

.content__underline{
    
    font-size: 3vmin;
    color: #eeeeee;
}

.content__list{
    
    font-size: 3vmin;
    color: #eeeeee;
}