body{
    background-color: #393e46;
}

.content{
    clear: both;
}

.box{
    height: 30vw;
    width: 30vw;
    
    margin: 5vmin;

    position: relative;
    left: 35vw;
    
    background-color: #222831;
    cursor: pointer;
}

.box__text{
    margin-top: -50%;
    width: 60%;
    left: 20%;
    
    border-radius: 20%;
    
    position: relative;
    z-index: 1;
    
    text-align: center;
    font-size: 3vw;
    
    color: #eeeeee;
}


.box:hover .box__image{
    opacity: 0.4;
}

.box__image{
    width: 30vw;
    height: 30vw;

    transition: 0.3s;
    
    object-fit: cover;
    object-position: 1% 10%;
    opacity: 0;
}
