html,
body {
	height: 100%;
}

.content{
    clear: both;
    
    padding: 0 5vw;
    margin: 0 10vw;
    
    background-color: #222831;
}

.content__title{
    margin-top: 0;
    
    text-align: center;
    font-size: 10vmin;
    font-family: 'Oswald', sans-serif;
    color: #00adb5;
}

.content__topic{
    text-align: center;
    font-size: 3vmin;
    color: #00adb5;
}

.content__text{
    font-size: 3vmin;
    color: #eeeeee;
}

.content__text:last-child{
    margin-bottom: 0;
}

.content__tall-image{
    width: 50%;
    
    position: relative;
    left: 25%
}

.content__wide-image{
    width: 100%;
}

.content__equation{
    padding: 5vh 5vw;
    
    font-size: 3vmin;
    text-align: center;
    background-image: linear-gradient(135deg, transparent 6%, #eeeeee 6% ,#eeeeee 94%, transparent 94%);
    
    color: #222831;
}

.top-scroll-button{
    display: inline-block;
    height: 1.2em;
    
    padding: 0;
    
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    
    border: 0vmin #eeeeee solid;
    background: linear-gradient(135deg, transparent 20%, #222831 20%,  #222831 80%, transparent 80%);
    color: #eeeeee;
    font-size: 10vmin;
    transition: 0.3s;
}

.top-scroll-button__text{
    position: relative;
    bottom: 0;
    
    display: block;
    
    /*Blue color "starts" after 12% and ends at 80%*/
    background-image: linear-gradient(180deg, #eeeeee 12%, #00adb5 0%); 
    
    transition: 0.3s;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.top-scroll-button:focus {
  outline: none;
}

.top-scroll-button:hover .top-scroll-button__text{
    transform: translateY(-8%);
}


@media (max-aspect-ratio: 1/1) {
    .content{
        margin: 0;
    }
    
    .content__tall-image{
        left: 10%;
        width: 80%;
    }
    
    
    .top-scroll-button{
        background: linear-gradient(135deg, transparent 20%, #393e46 20%,  #393e46 80%, transparent 80%);
    }
}