
body {
    margin: 0;
    overflow: hidden
}

.content{
    clear: both;
}

.content__summary{
    float: left;
    margin-left: 10vw;
    margin-top: 20vmin;
    font-size: 3vmin;
    width: 40vw;
    
}

.content__image {
    width: 50vw;
}

@media (max-aspect-ratio: 1/1) {
    .content__summary{
        width: 80vw
    }
    
    .content__image{
        width: 100vw;
    }
}